<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>RICHNESS</name>

    <description>
        To identify how rich you are . 
    </description>

    <author href="https://build.phonegap.com" email="zagros.ardalan@gmail.com">
        zagros ardalan 
    </author>
	<gap:platform name="android" />
	<preference name="android-installLocation" value="auto" />
	<icon src="ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="xhdpi.png" gap:platform="android" gap:density="xhdpi" />
<icon src="xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
<access origin="http://globalrichlist.com" subdomains="true" />
</widget>